body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.header {
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
}

.logo-container {
    display: inline-block;
    text-align: center;
}

.logo {
    width: 80px; /* Adjust logo size as needed */
    height: auto;
}

.final-document {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 10px 0 5px;
}

.sub-title {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    color: #666;
}

.navbar {
    background-color: #333;
    color: white;
    position: relative;
    width: 100%;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.slideshow {
    max-width: 100%;
    height: 70vh; /* Set height to 70% of the viewport height */
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 1s ease;
    height: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images cover the entire slide area */
}

.blog-previews {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #fff;
    flex-wrap: wrap;
}

.blog-post {
    flex: 1 1 calc(33.333% - 20px); /* Three posts per row, with spacing */
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.blog-post:nth-child(1) {
    flex: 2 1 calc(66.666% - 20px); /* The first post is larger */
}

.blog-post img {
    width: 100%;
    height: auto;
}

.blog-post h3 {
    font-size: 18px;
    margin: 15px 0;
}

.blog-post p {
    font-size: 14px;
    color: #666;
}

.blog-post:hover {
    transform: translateY(-5px);
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 50px;
}
.highlighted-blogs-title {
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    margin-top: 20px; /* Thêm khoảng cách phía trên chữ */
}

.highlighted-blogs-title h2 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #333;
}